<%= form_for(@client) do |f| %>

 <%#Campo nombre/%>

<div class="control-group<%= @client.errors[:nombre].any? ? " error" : "" %>">
   <%= f.label :nombre, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :nombre, :class => 'text_field' %>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
      <span class="help-inline">
      <%= @client.errors[:nombre].any? ? @client.errors[:nombre].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

 <%#Campo Telefono/%>
<div class="control-group<%= @client.errors[:telefono].any? ? " error" : "" %>">
   <%= f.label :telefono, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :telefono, :class => 'text_field' %>
     <span class="help-inline">
      <%= @client.errors[:telefono].any? ? @client.errors[:telefono].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

 <%#Campo Email/%>

 <div class="control-group<%= @client.errors[:email].any? ? " error" : "" %>">
   <%= f.label :email, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :email, :class => 'text_field' %>
     <span class="help-inline">
    <%= @client.errors[:email].any? ? @client.errors[:email].to_s[/\w([^"]*)/] : "" %></span>
   </div> 
 </div>

 <%#Campo Direccion/%>

<div class="control-group<%= @client.errors[:direccion].any? ? " error" : "" %>">
   <%= f.label :direccion, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :direccion, :class => 'text_field' %>
     <span class="help-inline">
     <%= @client.errors[:email].any? ? @client.errors[:email].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

 <%#Campo RFC/%>

<div class="control-group<%= @client.errors[:rfc].any? ? " error" : "" %>">
   <%= f.label :rfc, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :rfc, :class => 'text_field' %>
     <span class="help-inline">
     <%= @client.errors[:rfc].any? ? @client.errors[:rfc].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>


 <%#Campo Facebook/%>

<div class="control-group<%= @client.errors[:facebook].any? ? " error" : "" %>">
   <%= f.label :facebook, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :facebook, :class => 'text_field' %>
     <span class="help-inline">
     <%= @client.errors[:facebook].any? ? @client.errors[:facebook].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

<%#Campo Linkedln/%>

<div class="control-group<%= @client.errors[:linkedln].any? ? " error" : "" %>">
   <%= f.label :linkedln, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :linkedln, :class => 'text_field' %>
     <span class="help-inline">
     <%= @client.errors[:linkedln].any? ? @client.errors[:linkedln].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="actions">
    <%= f.submit :Crear %>
  </div>
<% end %>