<h1>Listing clients</h1>
<form class="form-search">
  <div class="input-append">
  <input type="text" id="busqueda" name="busqueda" placeholder= "Buscar por nombre"> 
  <button type="submit">Buscar</button>
       </div>
</form> 
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Direccion</th>
      <th>Rfc</th>
      <th>Facebook</th>
      <th>Linkedln</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.nombre %></td>
        <td><%= client.telefono %></td>
        <td><%= client.email %></td>
        <td><%= client.direccion %></td>
        <td><%= client.rfc %></td>
        <td><%= client.facebook %></td>
        <td><%= client.linkedln %></td>
        <td><%= link_to 'Mostrar', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: '¿Estas  seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo cliente', new_client_path %>
