<!DOCTYPE html>
<html>
<head>
  <title>Proyecto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header> <center> <h1>Bienvenido a la Libreria Virtual ROKA</h1> </center></header>

<center><h3>
		<spean> <%= link_to 'Provedores', providers_path %> </spean>
		<spean> <%= link_to 'Libros', providers_path %> </spean>
		<spean> <%= link_to 'Pedidos', orders_path %> </spean>
		<spean> <%= link_to 'Promociones', promotions_path %> </spean>
		<spean> <%= link_to 'Clientes', clients_path %> </spean>
		<spean> <%= link_to 'Ventas', sales_path %> </spean>
		<spean> <%= link_to 'Empleados', employees_path %> </spean>
</h3></center>


<%= yield %>

</body>
</html>
